body {
  background-color: #050009;
  color: #b0a8bd;
}

.hide {
  transform: translateY(10%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1.5s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
